{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>User Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    {% load crispy_forms_tags %}
    {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
     {{ form.media }} 
  </head>
  <style>
    body{
      background-color: #e2e2e2 ;
    }
  </style>
  <body>


  <div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 text-center">User Profile</h1>
            <hr class="mt-0 mb-4">
        </div>
    </div>
          <form action="" method="post">
            {% csrf_token %}
          
            <div class="row">
              <div class="col-5">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.surname|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                {{ form.email|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.phone|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                {{ form.start_date|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                
                {{ form.province|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.industry|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                {{ form.social|as_crispy_field }}
              </div>
              <div class="col-5">
                {{ form.job_title|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form.bio|as_crispy_field }}
              </div>
            </div>
            <button type="submit" name="" id="" class="btn btn-primary">Save</button>
        </form>
  </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>